<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<!-- conexão para rodar na escola -->
		<!--<add name="WfaPrjVendas.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLOLEDB;Data Source=apolo;Password=So22012009;User ID=ds240375;Initial Catalog=LP2"
            providerName="System.Data.OleDb" />-->

		<!-- conexão para rodar no meu pc -->
		<add name="WfaPrjVendas.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLOLEDB;Data Source=DESKTOP-PLHVR5D\SQLEXPRESS;Initial Catalog=Vendas;Integrated Security=SSPI;TrustServerCertificate=True"
            providerName="System.Data.OleDb" />

		<!-- conexão para mexer no DataSet -->
		<!---><add name="WfaPrjVendas.Properties.Settings.ConnectionString"
				connectionString="Provider=SQLOLEDB;Data Source=DESKTOP-PLHVR5D\SQLEXPRESS;Initial Catalog=Vendas;Integrated Security=SSPI;TrustServerCertificate=True"
				providerName="System.Data.SqlClient" />-->
		</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>